image: "debian:12"
before_script:
  - DEBIAN_FRONTEND=noninteractive apt -y update
  - DEBIAN_FRONTEND=noninteractive apt -y install gpg curl lsb-release
  - echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list
  - curl -fsSL https://www.postgresql.org/media/keys/ACCC4CF8.asc| gpg --dearmor -o /etc/apt/trusted.gpg.d/postgresql.gpg
  - DEBIAN_FRONTEND=noninteractive apt -y update
  - DEBIAN_FRONTEND=noninteractive apt -y install postgresql-server-dev-17 postgresql-17 libscrypt-dev libargon2-dev gcc make libssl-dev meson

stages:
  - build

build-stage:
  stage: build
  script:
    - pg_ctlcluster 17 main start
    - su postgres -c "meson setup build"
    - su postgres -c "ninja -C build"
    - ninja -C build install
    - su postgres -c "ninja -C build test; cat /builds/consulting/pgxcrypto_pwhash/build/regression.diffs"
